
<h1 class="title">all customers with no email</h1>
<div class="search-results columns is-multiline">
<%= render partial: 'customers', collection: @foundcust %>
</div>
<li class="u-nav-item"><%= link_to "show all",customers_path() %></li>
<li class="u-nav-item"><%= link_to "show alphabetized", customers_alphabetized_path()  %></li>
<li class="u-nav-item"><%= link_to "show no email", customers_noemail_path() %></li>
